server:
    port: 8101
    servlet:
        context-path: /security

spring:
    application:
        name: security

    datasource:
        druid:
            driverClassName: org.h2.Driver
#            url: jdbc:h2:${user.dir}/h2/security
            url: jdbc:h2:mem:security
            username: root
            password: ayufan
            initialSize: 5
            minIdle: 5
            maxActive: 20
            maxWait: 60000                                # 获取连接的超时等待时间
            timeBetweenEvictionRunsMillis: 60000          # 检查要关闭的空闲连接
            min-evictableIdleTimeMillis: 30000            # 连接空闲多久后关闭
            validationQuery: SELECT 1                     # 检查是否可用
            testWhileIdle: true
            testOnBorrow: false
            testOnReturn: false
            poolPreparedStatements: true

        # 初始化SQL
        schema: classpath:sql/schema.sql
        data: classpath:sql/data.sql
    h2:
        console:
            enabled: true                                     # 开启控制台
            path: /h2                                         # 控制台路径
            settings:
                web-allow-others: true                        # 允许远程访问控制台


# spring整合mybatis在非事务环境下，每次调用mapper接口都会产生新的sqlSession，因此不会用到一级缓存
# 在事务环境下共享同一个sqlSession，因为事务不能跨session
mybatis:
    configuration:
        # 参考：https://blog.csdn.net/heroqiang/article/details/85339834
        cache-enabled: false                                  # 禁用二级缓存
        local-cache-scope: statement                          # 虽然mybatis不能禁用一级缓存，但可以设置scope为statement（默认为session），达到实际禁用一级缓存的目的
    mapper-locations: classpath:mapper/**Mapper.xml
